<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- la posición viene del scss -->
    <ion-buttons class="my-ion-bt" slot="end">
      <ion-toggle
        item-start
        [checked]="bFlag"
        (ionChange)="start_stop_reading()"
      >
      </ion-toggle>
      <ion-label> <b>On/Off</b></ion-label>
    </ion-buttons>
    <ion-title> Monitor de Temperatura </ion-title>
    <ion-list>
      <ion-item>
        <ion-label>
          <h2>Temperatura Actual = {{ temp }}</h2>
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label position="floating"> Tiempo de muestreo (seg):</ion-label>
        <ion-input
          type="number"
          [(ngModel)]="timeStep"
          (keyup.enter)="OnEnterCheckTime()"
        ></ion-input>
      </ion-item>
    </ion-list>
    <ion-grid>
      <ion-row>
        <ion-col size="3">
          <ion-label position="floating"> Temperatura mínima:</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="Tmin"
            (keyup.enter)="OnEnterCheckTemp()"
          ></ion-input>
        </ion-col>
        <ion-col size="3">
          <ion-label position="floating"> Temperatura máxima:</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="Tmax"
            (keyup.enter)="OnEnterCheckTemp()"
          ></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-label position="floating"> y axis mín:</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="GTmin"
            (keyup.enter)="OnEnterSetYaxis()"
          ></ion-input>
        </ion-col>
        <ion-col size="2">
          <ion-label position="floating"> y axis máx:</ion-label>
          <ion-input
            type="number"
            [(ngModel)]="GTmax"
            (keyup.enter)="OnEnterSetYaxis()"
          ></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="display: block" width="15px" height="8px">
    <canvas
      baseChart
      height="30vh"
      width="60vw"
      [datasets]="lineChartData"
      [labels]="lineChartLabels"
      [options]="lineChartOptions01"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
  <div style="display: block" width="15px" height="8px">
    <canvas
      baseChart
      height="30vh"
      width="60vw"
      [datasets]="lineChartDataDer"
      [labels]="lineChartLabels"
      [options]="lineChartOptions02"
      [colors]="lineChartColors"
      [legend]="lineChartLegend"
      [chartType]="lineChartType"
      [plugins]="lineChartPlugins"
    >
    </canvas>
  </div>
</ion-content>
